
<div class="mb-2" x-data="{
    newspapers: [],
    add_newspaper(el) {
        if (el.value) {
            tihs.newspapers.push({
                number: el.value,
                id: el.id
            })
        }
    },
    show_item(el) {
        // a.findIndex(x=>x.a==3) > -1
        return this.newspapers.findIndex(x=>x.number==el.value) > -1
    }
}">
    Номера газет:
    <div id="newspapers-list">
        <template x-for="newspaper in newspapers">
            <div class="mb-2 row" id="{% now 'U' %}-newspaper">

                {# Номер #}
                <div class="col-7">
                    <select name="newspaper" id="{% now 'U' %}-newspaper-select" class="form-select form-select-sm"
                            @change="add_newspaper($el)"
                        >
                        {% for newspaper in newspapers %}
                            <option value="{{ newspaper.pk }}" x-show="show_item($el)">{{ newspaper.newspaper.short_title }}
                                №{{ newspaper.number }}</option>
                        {% endfor %}
                    </select>
                </div>

                {# Количество #}
                <div class="col-3">
                    <input type="number" name="newspaper-quantity" id="{% now 'U' %}-newspaper-quantity" min="1" step="1"
                           class="form-control form-control-sm [&::-webkit-inner-spin-button]:appearance-none" required>
                </div>

                {# Кнопка удаления #}
                <div class="col-1">
                    <button class="btn btn-sm btn-danger form-control-sm"
                            onclick="document.getElementById(`{% now 'U' %}-newspaper`).remove()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-x-square" viewBox="0 0 16 16">
                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                        </svg>
                    </button>
                </div>

            </div>
        </template>
    </div>
    <button
            class="btn btn-secondary"
            hx-get="{% url 'press:hx-newspaper-field' %}"
            hx-target="#newspapers-list"
            hx-swap="beforeend"
    >Добавить номер
    </button>

</div>