{% load widget_tweaks %}
{% block main_content %}


    <div class="row">
        <div class="col">
            <h3>Номера газет</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-8 mb-2">
            <button class="btn btn-primary" onclick="document.getElementById('dialog-number').showModal();">Добавить
                номер газеты
            </button>
            <dialog id="dialog-number" class="choiceModal">
                <div class="dialog-header">
                    <h5 class="modal-title">Добавить номер газеты</h5>
                    <button type="button" class="btn-close" aria-label="Close"
                            onclick="document.getElementById('dialog-number').close()"></button>
                </div>
                <div class="dialog-body m-3">
                    <div class="mb-2" id="modal-alert"></div>
                    <form hx-post="{% url 'press:newspaper-numbers' %}" hx-target="#number-list" id="number-form">
                        <div class="mb-2">
                            <label for="newspaper" class="form-label">{{ form.newspaper.label }}</label>
                            {% render_field form.newspaper  class='form-select' aria-label="newspaper select" id='newspaper-select' required='' %}
                        </div>
                        <div class="mb-3">
                            <label for="number" class="form-label">{{ form.number.label }}</label>
                            <div class="input-group">
                                <span class="input-group-text" id="prefix-number">№</span>
                                {% render_field form.number  class='form-control' id='number' required='' placeholder='1 (195)' aria-describedby="prefix-number" %}
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="year" class="form-label">{{ form.year.label }}</label>
                            {% render_field form.year  class='form-control' id='year' placeholder='01.2024' type='month' pattern="[0-9]{4}-[0-9]{2}" %}
                        </div>
                        <div class="d-grid gap-2 d-md-block">
                            <button class="btn btn-primary" type="submit">Сохранить</button>
                            <button class="btn btn-secondary" type="reset"
                                    onclick="document.getElementById('dialog-number').close()">Отмена
                            </button>
                        </div>
                    </form>
                </div>
            </dialog>
        </div>
    </div>
    <div class="row">
        {% block numbers_list %}
            <div class="col-12 col-md-8" id="number-list" hx-confirm="Вы уверены?" hx-target="closest li"
                 hx-swap="outerHTML swap:0.5s">
                {% for numb in newspapers_numbers %}
                    {% ifchanged numb.newspaper_id %}
                        </ul>
                        <h4>{{ numb.newspaper.title }}</h4>
                        <ul class="list-group mb-2">
                    {% endifchanged %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ numb.newspaper.short_title }} №{{ numb.number }}
                    {% if numb.distributions.all|length > 0 %}
                        <span class="badge text-bg-primary rounded-pill">{{ numb.distributions.all|length }}</span>
                    {% else %}
                        <span class="badge text-bg-primary rounded-pill"
                              hx-delete="{% url 'press:factory' %}?id={{ numb.pk }}"
                        >Удалить</span>
                    {% endif %}
                </li>

                {% endfor %}
            </div>
        {% endblock numbers_list %}
    </div>
{% endblock %}


{% block scripts %}
    <script>
        document.addEventListener('htmx:afterRequest', function (evt) {
            if (evt.detail.xhr.status == 201) {
                document.getElementById('number-form').reset()
                document.getElementById('dialog-number').close()
            }
        })
    </script>

{% endblock scripts %}