{% load static %}
<!doctype html>
<html lang="ru" data-bs-theme="auto">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ meta_descripiton }}">
    <title>{% if title %}{{ title }} | {% endif %}CRM Рабочй партии России</title>
    <link href="{% static "css/main.css" %}" rel="stylesheet">
    {% block styles %}{% endblock %}
</head>

<body>
    {% include 'top_menu.html' %}
    <main class="container pt-3 mt-md-5" id="main-container">

        <!-- div class="row">
              <div class="col">

                <button 
                class="btn btn-primary"
                onclick='document.getElementById("mobile-menu-bottom").hidden = !document.getElementById("mobile-menu-bottom").hidden;'
                >Скрыть меню</button></div>
            </div -->
        {% block main_content %}{% endblock %}
    </main>

    <!-- Дополнительное меню -->
    {% include 'left_menu.html' %}
    <!-- Конец дополнительного меню -->
    <!-- МОБИЛЬНОЕ МЕНЮ -->
    {% include "mobile_menu.html" %}
    <!-- КОНЕЦ МОБИЛЬНОГО МЕНЮ -->


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
    <script>
        const toastTrigger = document.getElementById('liveToastBtn')
        const toastLiveExample = document.getElementById('liveToast')

        if (toastTrigger) {
            const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample)
            toastTrigger.addEventListener('click', () => {
                toastBootstrap.show()
            })
        }
    </script>
    {% block scripts %}{% endblock %}
</body>

</html>