{% extends "base.html" %}
{% load static %}

{% block title %}Вход в партийную базу данных{% endblock title %}
{% block styles %}
    <link rel="stylesheet" href="">
{% endblock styles %}

{% block main_content %}
    <div class="login-page">
        <main class="form-signin w-100 m-auto text-center">
            <div class="m-5">
                <h1>Вы успешно разлогинились из системы.</h1>
                <h4>Ждём Вас снова.</h4>
                <p class="text-body-tertiary">Через некоторое время вы будете перенаправлены на страницу входа.</p>
            </div>
        </main>
    </div>
{% endblock main_content %}